POSTGRES_USER=booking_system
POSTGRES_PASSWORD=booking_system
POSTGRES_DB=booking_system
POSTGRES_PORT=5434

REDIS_PORT=6381

KAFKA_PORT=29093
KAFKA_CONNECT_PORT=8084
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
